{
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "impliedStrict": true,
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "ecmaFeatures": {
    "jsx": true,
    "impliedStrict": true,
    "experimentalObjectRestSpread": true
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "extends": ["eslint:recommended"],
  "rules": {
    "brace-style": [1, "1tbs", { "allowSingleLine": true }],
    "camelcase": 1,
    "comma-dangle": 0,
    "curly": 1,
    "eqeqeq": 1,
    "no-alert": 2,
    "no-debugger": 1,
    "no-console": 0,
    "no-empty": 0,
    "no-eval": 2,
    "no-new-func": 2,
    "no-proto": 2,
    "no-use-before-define": [1, "nofunc"],
    "no-unused-vars": 1,
    "quotes": [2, "single", "avoid-escape"],
    "radix": 1,
    "semi": [2, "always"],
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-danger": 2,
    "react/no-deprecated": 2,
    "react/no-did-mount-set-state": [2, "allow-in-func"],
    "react/no-did-update-set-state": [2, "allow-in-func"],
    "react/no-direct-mutation-state": 2,
    "react/no-is-mounted": 2,
    "react/no-unknown-property": 2,
    "react/react-in-jsx-scope": 2,
  }
}